{% extends 'base.html' %}
{% block menu %}
    <a href="{% url 'webapp:create_photo' %}">Add Photo</a>
{% endblock %}
{% block content %}
    <h1 class="text-center">Gallery</h1>
    <hr/>
    <img src="{{ photo.image.url }}" alt="{{ photo.signature }}" width="200px" height="200">
    <p><b>Signature: </b>{{ photo.signature }}</p>
    <p><b>Author: </b>{{ photo.author }}</p>
    <p><b>Created at: </b>{{ photo.created_at }}</p>
    <p><b>Likes</b> {{ photo.like_amount }}</p>
    <p><a href="{% url 'webapp:update_photo' photo.pk %}" class="btn btn-default">Edit</a></p>
    <p><a href="{% url 'webapp:delete_photo' photo.pk %}" class="btn btn-danger">Delete</a></p>

{% endblock %}