{% extends 'base.html' %}
{% block title %}{{ photo.signature }}{% endblock %}

{% block menu %}
    <a href="{% url 'webapp:create_photo' %}">Add Photo</a>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'webapp:logout' %}">Log Out</a>Привет, {{ request.user.username }}!</li>
    {% else %}
    <a href="{% url 'webapp:login' %}">Log In</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for photo in photos %}
            <div class="col col-3">
                <div class="card">
                    {% if photo.image %}
                        <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.signature }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ photo.signature }}</h5>
                        <p class="card-text">{{ photo.get_category_display }} | {{ photo.created_at }}</p>
                        <p class="card-text">Author: {{ photo.author }}</p>
                        <a href="{% url "webapp:photo_detail" photo.pk %}"
                           class="btn btn-primary">Посмотреть</a>
                        <a href="{% url 'webapp:update_photo' photo.pk %}" class="btn btn-default">Edit</a>
                        <a href="{% url 'webapp:delete_photo' photo.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}